@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: var(--color-sky-400);
  --color-dark: var(--color-slate-600);
  --color-dark-secondary: var(--color-slate-300);
  --font-icon: "Righteous";
}

@utility hamburger-line {
  @apply block w-[25px] h-[3px] bg-dark dark:bg-dark-secondary;
}

@utility glass {
  @apply bg-white/30 backdrop-blur-md w-full fixed top-0 dark:bg-black/30;
}

.hamburger-active > span:nth-child(1) {
  @apply rotate-36;
}

.hamburger-active > span:nth-child(2) {
  @apply opacity-0;
}

.hamburger-active > span:nth-child(3) {
  @apply -rotate-36;
}

#dark-toggle:checked ~ label .ball {
  transform: translateX(20px);
}
